.TopSection {
    padding: 2em;
}

h1 {
    margin: 0 !important;
}

.BottomSection {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    padding: 2em;
}

.responsive-text {
    font-size: 1em;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
    .responsive-text {
        width: 100%;
    }
}
